.body {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    background-color: #f0f0f0;
    margin: 0;
}

.calculator {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
}

.display {
    background-color: #222;
    color: #fff;
    font-size: 2em;
    padding: 10px;
    text-align: right;
    border-radius: 5px;
    margin-bottom: 10px;
    height: 30px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.display1{
    background-color: #222;
    color: #fff;
    font-size: 2em;
    padding: 10px;
    text-align: right;
    border-radius: 5px;
    margin-bottom: 10px;
    height: 30px;
    margin-top: -15px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.button {
    background-color: #f1f1f1;
    border: none;
    border-radius: 5px;
    padding: 20px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.2s;
}

.button:hover {
    background-color: #ddd;
}

.button:active {
    background-color: #ccc;
}
.z{
    z-index: -1;
    background-color: #f0f0f0;
    text-align: center;
    font-size: 60px;
    padding: 30px 0px;
    /* align-items: center; */
}
.back{
    background-color: #f1f1f1;
    border: none;
    border-radius: 5px;
    padding: 20px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.2s;
}
.back:active{
    background-color: #ccc;
   
}
.back:hover{
    background-color: #ddd;
}